{% extends 'base_admin.html.twig' %}
{% block title %}Edit Tournoi{% endblock %}

{% block Content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Edit Tournoi</h1>

                        <div class="card mb-4">

                            <div class="card-body">
    {{ include('tournoi/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_tournoi_index') }}">back to list</a>

    {{ include('tournoi/_delete_form.html.twig') }}
                </div>
                            </div>
                        </div>
                    </main>
{% endblock %}
