<form method="post" action="{{ path('question_delete', {'idQuestion': question.idQuestion}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.idQuestion) }}">
    <button class="btn btn-primary">Delete</button>
</form>
