{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}">back to list</a>
    
{% endblock %}
