<form method="post" action="{{ path('app_salle_jeu_delete', {'idSallej': salle_jeu.idSallej}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle_jeu.idSallej) }}">
    <button class="btn btn-danger">Delete</button>
</form>
