{% extends 'base-front.html.twig' %}


{% block body %}

 {% for salle_jeu in salle_jeus %}
  <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">

   <div class="row">
                                         <div class="col-12">
                                             <div class="my-match-wrap">
                                                 <div class="my-match-box-wrap wow fadeInDown" data-wow-delay=".2s">
                                                     <img src="http://localhost:8000/client/assets/img/bg/my_match_box.png" alt="" class="match-box-bg">
                                                     <ul>
                                                        <li>
                                                                                                                 <div class="my-match-team">
                                                                                                                     <div class="team-one">
                                                                                                                         <a href="index-2.html"><img src="assets/img/team/my_match_clan01.png" alt=""></a>
                                                                                                                     </div>
                                                                                                                     <div class="vs">
                                                                                                                         <img src="assets/img/team/match_vs02.png" alt="">
                                                                                                                     </div>
                                                                                                                     <div class="team-one">
                                                                                                                         <a href="index-2.html"><img src="assets/img/team/my_match_clan02.png" alt=""></a>
                                                                                                                     </div>
                                                                                                                 </div>
                                                                                                             </li>
 <li>
                                                            <div class="my-match-info">
                                                                <a href="#" target="_blank" class="live-btn">ID : {{ salle_jeu.idSallej }}</a>
                                                                <h5> Nom : {{ salle_jeu.nomsallej }}</h5>
                                                                <span>  IDT :  {{ salle_jeu.idTournementp }}</span>
                                                            </div>
                                                        </li>
                                                             <li>
                                                                                                                    <a href="https://www.twitch.tv/shroud" target="_blank" class="watch-stream"><img src="assets/img/icon/watch_icon.png" alt=""> See more</a>
                                                                                                                </li>
                                                                                                                 </ul>
                                                                                                                                                                                                                          </div>

                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                  </div>
                                                                                                                                                                                                              </div>
                                                                                                                                                                                                                 </div>
                                                          {% else %}
                                                      <li>
                                                                                                                 <div class="my-match-info">

                                                                                                                 </div>
                                                                                                             </li>


                                                          {% endfor %}



{% endblock %}
