{% extends 'base.html.twig' %}


{% block body %}
<main>

            <!-- banner-area -->
            <div id="parallax" class="banner-area banner-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-8 col-lg-9">
                            <div class="banner-content text-center">
                                <h4 class="small-title">the Season 8</h4>
                                <h2 class="title layer" data-depth="-0.2">steam</h2>
                                <div class="banner-btn">
                                    <a href="match-single.html" class="btn">watch live<i class="fas fa-play-circle"></i></a>
                                    <a href="contact.html" class="text-btn">dream making</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- banner-area-end -->

            <!-- area-bg -->
            <div class="area-bg">

                <!-- just-gamer-area -->
                <section class="just-gamer-area pt-120 pb-100">
                    <div class="just-gamer-shape"></div>
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-6 col-lg-8 order-2 order-xl-0">
                                <div class="just-gamer-content-box">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="team-tab" data-bs-toggle="tab" data-bs-target="#team"  role="tab" aria-controls="team" aria-selected="true">find team member</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="game-tab" data-bs-toggle="tab" data-bs-target="#game"  role="tab" aria-controls="game" aria-selected="false">our game shop</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="team" role="tabpanel" aria-labelledby="team-tab">
                                            <div class="section-title">
                                                <h2 class="title">EXPERIENCE just for gamers <span>OFFER</span></h2>
                                                <p>Nullam quis ante. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. In auctor lobortis lacus. Phasellus gravida semper nisi. Aliquam lobortis.</p>
                                            </div>
                                            <div class="gamer-content">
                                                <i class="far fa-arrow-alt-circle-right"></i>
                                                <p>Will sharpen your brain and focus</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="game" role="tabpanel" aria-labelledby="game-tab">
                                            <div class="section-title">
                                                <h2 class="title">EXPERIENCE just for gamers <span>OFFER</span></h2>
                                                <p>Nullam quis ante. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. In auctor lobortis lacus. Phasellus gravida semper nisi. Aliquam lobortis.</p>
                                            </div>
                                            <div class="gamer-content">
                                                <i class="far fa-arrow-alt-circle-right"></i>
                                                <p>Will sharpen your brain and focus</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8">
                                <div class="just-gamer-img position-relative text-center text-xxl-end">
                                    <img src="assets/img/images/game_img01.png" alt class="main-img">
                                    <img src="assets/img/images/game_img02.png" alt class="shape-1 wow fadeInRight" data-wow-delay=".3s">
                                    <img src="assets/img/images/game_img03.png" alt class="shape-2 wow fadeInRight" data-wow-delay=".6s">
                                    <img src="assets/img/images/game_img04.png" alt class="shape-3 wow fadeInLeft" data-wow-delay=".9s">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- just-gamer-area-end -->

                <!-- tournament-area -->
                <section class="tournament-area pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="tournament-content">
                                    <h6 class="sub-title">check out our next</h6>
                                    <h4 class="title">GAMING TOURNAMENTS !</h4>
                                    <p>Lpsum dolor sit amet, consectetur adipiscing elit, sed labore et dolore magna aliqua.</p>
                                    <a href="our-squad.html" class="btn">Join with us</a>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="prize-pool">
                                    <h3 class="title">Prize pool</h3>
                                    <h5 class="prize">$80000</h5>
                                    <div class="coming-time" data-countdown="2022/5/29"></div>
                                    <img src="assets/img/images/prize_img.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="winner-wrap">
                                    <h2 class="title">LAST WINNERS</h2>
                                    <div class="winner-active">
                                        <div class="winner-item">
                                            <div class="winner-thumb">
                                                <img src="assets/img/images/winner_img01.png" alt="">
                                            </div>
                                            <div class="winner-content">
                                                <span class="place">2nd place</span>
                                            </div>
                                        </div>
                                        <div class="winner-item">
                                            <div class="winner-thumb">
                                                <img src="assets/img/images/winner_img02.png" alt="">
                                            </div>
                                            <div class="winner-content">
                                                <span class="place">2nd place</span>
                                            </div>
                                        </div>
                                        <div class="winner-item">
                                            <div class="winner-thumb">
                                                <img src="assets/img/images/winner_img03.png" alt="">
                                            </div>
                                            <div class="winner-content">
                                                <span class="place">2nd place</span>
                                            </div>
                                        </div>
                                        <div class="winner-item">
                                            <div class="winner-thumb">
                                                <img src="assets/img/images/winner_img02.png" alt="">
                                            </div>
                                            <div class="winner-content">
                                                <span class="place">2nd place</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- tournament-area-end -->

                <!-- gallery-area -->
                <div class="gallery-area">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                <div class="gallery-active">
                                    <div class="gallery-item">
                                        <img src="assets/img/gallery/gallery_img01.jpg" alt="">
                                    </div>
                                    <div class="gallery-item">
                                        <img src="assets/img/gallery/gallery_img02.jpg" alt="">
                                    </div>
                                    <div class="gallery-item">
                                        <img src="assets/img/gallery/gallery_img03.jpg" alt="">
                                    </div>
                                    <div class="gallery-item">
                                        <img src="assets/img/gallery/gallery_img04.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-nav"></div>
                    </div>
                </div>
                <!-- gallery-area-end -->

                <!-- team-area -->
                <section class="team-area pt-115">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="section-title title-style-two text-center mb-60">
                                    <h2 class="title">Active Team Members</h2>
                                </div>
                            </div>
                        </div>
                        <div class="team-thumb-wrap">
                            <div class="row justify-content-center">
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member01.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member02.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member03.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member04.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member05.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member06.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member07.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member08.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member09.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member10.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member11.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member12.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member13.png" alt=""></a>
                                </div>
                                <div class="single-thumb">
                                    <a href="our-squad.html"><img src="assets/img/team/team_member14.png" alt=""></a>
                                </div>
                            </div>
                            <div class="team-btn text-center mt-40">
                                <a href="our-squad.html" class="btn">view all members</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- team-area-end -->

                <!-- live-stream-area -->
                <section class="live-stream-area live-stream-bg pb-120 pt-120">
                    <div class="container">
                        <div class="live-stream-wrap">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="live-stream-content">
                                        <div class="live-stream-icon">
                                            <img src="assets/img/icon/live-stream-icon.png" alt="">
                                        </div>
                                        <div class="section-title">
                                            <h4 class="sub-title">MULTIPLE WAYS TO</h4>
                                            <h2 class="title">live streaming</h2>
                                        </div>
                                        <p>Lpsum dolor sit amet, consectetur adipiscing elit, sed labore et dolore magna aliqua.</p>
                                        <a href="match-single.html">add streaming</a>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="live-videos-wrapper">
                                        <div class="live-video-active">
                                            <div class="live-video-item">
                                                <div class="video">
                                                    <video class="liveVideo" autoplay muted loop poster="assets/img/images/live-stream_img01.png">
                                                        <source src="assets/videos/video_01.mp4" type="video/mp4">
                                                    </video>
                                                </div>
                                                <div class="coming-time" data-countdown="2022/5/29"></div>
                                                <a href="https://www.twitch.tv/videos/1261623067" target="_blank" class="btn">watch live<i class="fas fa-play-circle"></i></a>
                                            </div>
                                            <div class="live-video-item">
                                                <div class="video">
                                                    <video class="liveVideo" autoplay muted loop poster="assets/img/images/live-stream_img02.png">
                                                        <source src="assets/videos/video_02.mp4" type="video/mp4">
                                                    </video>
                                                </div>
                                                <div class="coming-time" data-countdown="2022/5/29"></div>
                                                <a href="https://www.twitch.tv/videos/1261623067" target="_blank" class="btn">watch live<i class="fas fa-play-circle"></i></a>
                                            </div>
                                            <div class="live-video-item">
                                                <div class="video">
                                                    <video class="liveVideo" autoplay muted loop poster="assets/img/images/live-stream_img01.png">
                                                        <source src="assets/videos/video_01.mp4" type="video/mp4">
                                                    </video>
                                                </div>
                                                <div class="coming-time" data-countdown="2022/5/29"></div>
                                                <a href="https://www.twitch.tv/videos/1261623067" target="_blank" class="btn">watch live<i class="fas fa-play-circle"></i></a>
                                            </div>
                                            <div class="live-video-item">
                                                <div class="video">
                                                    <video class="liveVideo" autoplay muted loop poster="assets/img/images/live-stream_img02.png">
                                                        <source src="assets/videos/video_02.mp4" type="video/mp4">
                                                    </video>
                                                </div>
                                                <div class="coming-time" data-countdown="2022/5/29"></div>
                                                <a href="https://www.twitch.tv/videos/1261623067" target="_blank" class="btn">watch live<i class="fas fa-play-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="live-video-navs">
                                            <div class="video-nav-item">
                                                <div class="thumb"><img src="assets/img/images/video_nav01.jpg" alt=""></div>
                                                <div class="content">
                                                    <h4 class="title">Hancock</h4>
                                                </div>
                                            </div>
                                            <div class="video-nav-item">
                                                <div class="thumb"><img src="assets/img/images/video_nav02.jpg" alt=""></div>
                                                <div class="content">
                                                    <h4 class="title">Zombie</h4>
                                                </div>
                                            </div>
                                            <div class="video-nav-item">
                                                <div class="thumb"><img src="assets/img/images/video_nav03.jpg" alt=""></div>
                                                <div class="content">
                                                    <h4 class="title">WarField</h4>
                                                </div>
                                            </div>
                                            <div class="video-nav-item">
                                                <div class="thumb"><img src="assets/img/images/video_nav03.jpg" alt=""></div>
                                                <div class="content">
                                                    <h4 class="title">WarField</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- live-stream-area-end -->

                <!-- shop-area -->
                <section class="shop-area pt-115 pb-60">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="section-title title-style-two text-center mb-70">
                                    <h2 class="title">check our gears</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9">
                                <div class="shop-item mb-60">
                                    <div class="shop-thumb">
                                        <img src="assets/img/shop/shop_wrap_img.png" alt class="shape">
                                        <a href="shop-details.html"><img src="assets/img/shop/shop_img01.png" alt class="shop-img"></a>
                                        <div class="shop-date">
                                            <span>in 4 days</span>
                                        </div>
                                        <div class="shop-share">
                                            <a href="shop-details.html"><i class="fas fa-share-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="shop-content">
                                        <div class="shop-content-top">
                                            <div class="shop-title">
                                                <h5 class="title"><a href="shop-details.html">HEADPHONES</a></h5>
                                                <p>E-SPORTS</p>
                                            </div>
                                            <div class="price">
                                                <span>$18</span>
                                            </div>
                                        </div>
                                        <div class="shop-content-bottom">
                                            <div class="shop-btn">
                                                <a href="shop-details.html" class="btn"><i class="fas fa-plus"></i>add to cart</a>
                                            </div>
                                            <div class="shop-wishlist">
                                                <a href="shop-details.html"><i class="far fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9">
                                <div class="shop-item mb-60">
                                    <div class="shop-thumb">
                                        <img src="assets/img/shop/shop_wrap_img.png" alt class="shape">
                                        <a href="#"><img src="assets/img/shop/shop_img02.png" alt class="shop-img"></a>
                                        <div class="shop-date">
                                            <span>in 4 days</span>
                                        </div>
                                        <div class="shop-share">
                                            <a href="shop-details.html"><i class="fas fa-share-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="shop-content">
                                        <div class="shop-content-top">
                                            <div class="shop-title">
                                                <h5 class="title"><a href="shop-details.html">controller</a></h5>
                                                <p>E-SPORTS</p>
                                            </div>
                                            <div class="price">
                                                <span>$29</span>
                                            </div>
                                        </div>
                                        <div class="shop-content-bottom">
                                            <div class="shop-btn">
                                                <a href="shop-details.html" class="btn"><i class="fas fa-plus"></i>add to cart</a>
                                            </div>
                                            <div class="shop-wishlist">
                                                <a href="shop-details.html"><i class="far fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9">
                                <div class="shop-item mb-60">
                                    <div class="shop-thumb">
                                        <img src="assets/img/shop/shop_wrap_img.png" alt class="shape">
                                        <a href="shop-details.html"><img src="assets/img/shop/shop_img03.png" alt class="shop-img"></a>
                                        <div class="shop-date">
                                            <span>in 4 days</span>
                                        </div>
                                        <div class="shop-share">
                                            <a href="shop-details.html"><i class="fas fa-share-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="shop-content">
                                        <div class="shop-content-top">
                                            <div class="shop-title">
                                                <h5 class="title"><a href="shop-details.html">gaming mask</a></h5>
                                                <p>E-SPORTS</p>
                                            </div>
                                            <div class="price">
                                                <span>$45</span>
                                            </div>
                                        </div>
                                        <div class="shop-content-bottom">
                                            <div class="shop-btn">
                                                <a href="shop-details.html" class="btn"><i class="fas fa-plus"></i>add to cart</a>
                                            </div>
                                            <div class="shop-wishlist">
                                                <a href="shop-details.html"><i class="far fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- shop-area-end -->

                <!-- newsletter-area -->
                <section class="newsletter-area pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="newsletter-wrap">
                                    <div class="newsletter-content">
                                        <div class="newsletter-icon">
                                            <img src="assets/img/icon/newsletter_icon.png" alt="">
                                        </div>
                                        <div class="newsletter-title">
                                            <h2 class="title">SUBSCRIBE TO OUR NEWSLETTER</h2>
                                        </div>
                                    </div>
                                    <div class="newsletter-form">
                                        <form action="#">
                                            <input type="email" placeholder="Your Email Address">
                                            <button class="btn"><i class="fas fa-plus"></i>add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- newsletter-area-end -->

            </div>
            <!-- area-bg-end -->

        </main>
{% endblock %}